.bg14 {
  height: 160vw;
  width: 100vw;
  background-image: url('../../assets/imgs/bg14.jpg');
  background-size: 100vw 160vw;
  background-repeat: no-repeat;
  position: absolute;
  .nsignin {
    display: block;
    font-size: 5vw;
    width: 22vw;
    height: 9vw;
    background-image: url('../../assets/imgs/signin.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -1vw;
    right: 0;
    padding-top: 2.5vw;
    padding-left: 1vw;
    text-decoration: none;
    color: #000;
  }
  .mem {
    position: absolute;
    overflow-x: hidden;
    background-image: url('../../assets/imgs/qing.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 90vw;
    width: 80vw;
    bottom: 20vw;
    left: 10vw;
    // animation: mem 1s linear infinite;
  }
  .title {
    position: absolute;
    left: 15vw;
    top: 40vw;
    color: #630000;
    font-size: 7vw;
    width: 70vw;
    border-radius: 5vw;
    text-align: center;
    background-color: white;
    opacity: 0.5;
    animation: qing 1s linear forwards;
  }
}

// @keyframes mem {
//   0% {
//     background-image: url('../../assets/imgs/mem1.png');
//   }
//   100% {
//     background-image: url('../../assets/imgs/mem2.png');
//   }
// }
@keyframes qing {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}